<section class="my-5">
    <div class="container">
        <h1 class="mb-5">Contáctanos</h1>
        <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
            <div class="form-row">
                <div class="form-group col-12">
                    <label>Nombre</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="contact.name" #name="ngModel" [ngClass]="{'is-invalid': f.submitted && name.invalid}" required>
                    <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                        <div *ngIf="name.errors.required">Nombre es requerido</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" [(ngModel)]="contact.email" #email="ngModel" [ngClass]="{'is-invalid': f.submitted && email.invalid}" required email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email es requerido</div>
                        <div *ngIf="email.errors.email">Email debe ser válido</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Sexo</label>
                    <select name="sex" class="form-control" [(ngModel)]="contact.sex" #sex="ngModel">
                        <option value=""></option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="form-group col-2">
                    <label>Edad</label>
                    <input type="number" name="age" class="form-control" [(ngModel)]="contact.age" #age="ngModel" [ngClass]="{'is-invalid': f.submitted && age.invalid}" required>
                    <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                        <div *ngIf="age.errors.required">La edad es requerida</div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </div>
</section>